/*COLORES*/
$color-primero: white;
$color-segundo: #b8c6db;
$color-tercero: black;
$colorgris1: #2b2b2b;
$colorgris2: #747474;
$colorgris3: #2c2c2c;
$gradiente1: linear-gradient(90deg, #b8c6db 0%, #f5f7fa 74%);

/*FONTS*/
$font1: Staatliches; 
$font2: Cuprum; 
$font3: Open sans;



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;


  }

body {
    background: #fff;
}

h1 {
  color: $colorgris1;
  font-family: $font1;
  font-size: 5rem;
  padding-left: 1rem;
  text-align: left;

}

h2 {
  color: $colorgris2;
  font-family: $font2;
  font-size: 2rem;
  text-align: left;

}

h3, h4, h5, h6{
    color: $colorgris3;
    font-family: $font2;
}

p {
  color: $colorgris3;
  font-family: $font3;
  font-size: 16px;
  line-height: 1.5rem;
}

a{
  text-decoration: none;
}


@import '_header';
@import '_sections';
@import '_buttons';
@import '_footer';
@import '_nosotros';
@import '_servicios';
@import '_portafolio';
@import '_contacto';